@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  html,
  body {
    @apply max-w-full overflow-x-hidden;
  }

  body {
    @apply font-sans;
  }

  a {
    @apply text-inherit no-underline;
  }
}
